.main_container {
  width: 100%;
  padding: calc((100vw - 320px)/(1440 - 320) * (52 - 34) + 34px);
  box-sizing: border-box;

}

.grid_container {
  margin: 0;
  padding: 0;
  list-style: none;
  height: calc((100vw - 320px)/(1440 - 320) * (790 - 218) + 218px);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
  "high  default-1"
  "high  default-2";
  gap: 32px;
  /* max-width: 937px; */

}

.grid_item {
  border-radius: 5%;
  box-shadow: 0 6px 16px rgba(0,0,0,0.05), 0 5px 5px rgba(0,0,0,0.1);

}

.grid_item__high {
  padding: 48px 0 0 48px;
  max-width: 790px;
  background-color: rgb(255, 255, 255);
  grid-area: high;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid_item__right_top {
  padding: 32px 0 0 32px;
  grid-area: default-1;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grid_item__right_bottom {
  padding: 0 0 32px 32px;
  display: flex;
  flex-flow: column-reverse;
  align-items: flex-start;
  grid-area: default-2;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  margin: 0 0 6px;
  color: #121212;
  text-decoration: none;
  font-family:"Space Grotesk";
  font-size: calc((100vw - 320px)/(1440 - 320) * (34 - 22) + 22px);
  font-style: normal;
  font-weight: 500;
  /* line-height: 38px;  */
  letter-spacing: -0.6px;
}

.link {
  text-decoration: none;
  margin: 6px 0 0;
  color:  #121212;
  font-family: "Space Grotesk";
  font-size: calc((100vw - 320px)/(1440 - 320) * (16 - 12) + 12px);
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.4px;
  border-bottom: 1px solid #121212;
  transition: opacity .2s ease-out;
}

.link:hover {
  opacity: 0.6;
}

.grid_item__right_bottom .title, .grid_item__right_bottom .link {
  color: azure;
}

.grid_item__right_bottom .link {
  border-bottom: 1px solid #ffffff;
}


@media (max-width: 500px) {
  .grid_item__high {
    padding: 28px 0 0 20px;
  }
  .grid_item__right_top {
    padding: 6px 0 0 16px;
  }
  .grid_item__right_bottom {
    padding: 0 0 32px 24px;
  }
  .title {
    margin: 0;
  }
  .link {
    margin: 0;
  } 
}