.form_container {
  max-width: 300px;
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.2), 0 5px 5px rgba(0,0,0,0.1);

}

.button_container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.form_button {
  background-color: #000000;
  border: 0;
  color: white;
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  border-radius: 10px;
  width: 100%;
  height: 48px;
  cursor: pointer;
  transition: background-color .1s ease-in;
}

.form_button:hover {
  background-color: rgba(13, 110, 253, 1);
}

@media (max-width: 380px) {
  .form_button {
    height: 42px;
    font-size: 14px;

  }
}