.good_main_container {

}

.good_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  width: 180px;
  padding: 6px;
  flex: 1;
  padding: 24px;
}

.good_wrapper__horizontal {
  /* flex: 1 0 100%; */
  width: 100%;
  gap: 16px;
  flex-direction: row;
  margin-left: 40px;
}

.additional_wrapper {
  /* outline: 1px solid rgb(203, 203, 9); */
  flex: 0 5 100px;
}

.good_wrapper:hover {

} 


.image_wrapper {
  overflow: hidden;
  height: 90px;
  width: 160px;
  position: relative;
  transition: transform .4s ease-out;
}


.good_wrapper:hover .image_wrapper{
  transform: scale(120%);
}


.good_image {
  position: absolute;
  top: 50%;
  /* трансформ нужен так как без него не будет ровно 50% при свойстве top */
  transform: translate(0,-50%);
  max-width: 100%;
  height: auto;
}

.good_title {
  transition: font-size .3s;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; 
  letter-spacing: -0.4px;
  margin: 12px 0 0;
}

.good_title_media {
  display: none;
}

.good_price {
  margin: 0;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; 
  
}

.bold_span {
  color: #808080;
  font-weight: 400;
}

.good_description {
  margin: 0;
  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; */
  flex: 1 10;
  color:  #3E3E59;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  max-width: 330px;
}

@media (max-width: 1125px) {
  .good_wrapper__horizontal {
    flex-direction: column;
    margin-left: 20px;
  }
  .good_description {
    margin: 0;

    flex: 1 10;
    color:  #3E3E59;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    max-width: 360px;
  }
}


@media (max-width: 600px) {
  .good_wrapper {
    width: calc((100vw - 320px)/(600 - 320) * (350 - 180) + 180px); 
  }

  .image_wrapper {
    /* border: 2px solid #3E3E59; */

    height: 162px;
    width: 230px;
  }

  .good_title {
    font-size: calc((100vw - 320px)/(600 - 320) * (20 - 18) + 18px);
 
  }

  .good_price {
    font-size: alc((100vw - 320px)/(600 - 320) * (18 - 16) + 16px);
  }
}



