.main_container {
  display: flex;
  flex-direction: column;
  padding: 100px 0 12px;
  margin: 0 20px 0 32px;
  max-width: 900px;
 
}

.title {
  padding: 0;
  margin: 0 0 32px;
  font-family: Space Grotesk;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 111.765% */
  letter-spacing: -0.6px;
}

.accordion {
  max-width: 900px;
  color: #3E3E59;
  display: flex;
  flex-flow: column;
  gap: 20px;
  padding: 0;
  margin: 0;
  flex: 1;
  list-style: none;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.2), 0 5px 5px rgba(0,0,0,0.1);

}

.accordion__item {
  list-style: none;
  width: 100%;
  border-radius: 8px;
}

.accordion_label {
  display: flex;
  align-items: center;
  color: #3E3E59;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; 
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;
  margin-right: 3px;
}

.accordion_label::after {
  content: "";
  left: 98%;
  bottom: 45%;
  position: absolute;
  border: solid #3E3E59;
  border-width: 0 3px 3px 0;
  border-radius: 2px;
  display: inline-block;
  padding: 6px;
  transform: rotate(45deg);
  transition: transform .3s ease-in-out;
}


.accordion_text {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;   
  margin: 12px 0;
}

.accordion_trigger[type=checkbox] {
  display: none;
}

.accordion_content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .7s, margin .7s;
  list-style: inside;
  border-bottom: 1px solid #CBCBCB;
}

.accordion_trigger[type=checkbox]:checked + .accordion_label::after {
  content: "";
  left: 98%;
  bottom: 45%;
  position: absolute;
  border: solid #3E3E59;
  border-width: 0 3px 3px 0;
  border-radius: 2px;
  display: inline-block;
  padding: 6px;
  transform: rotate(-135deg);
}


.accordion_trigger[type=checkbox]:checked + .accordion_label + .accordion_content {
  max-height: 800px;
}

.accordion__item:has(.accordion_trigger[type=checkbox]:checked) {
  background-color: #D5621D;
}

/* button {
  color: #ecf0f1;
  background: #e74c3c;
  width: 50px;
  height: 50px;
  border: 0;
  font-size: 1.5em;
  position: relative;
}

button span {
  position: absolute;
  transition: 300ms;
  background: white;
  border-radius: 2px;
}

/* Create the "+" shape by positioning the spans absolutely */
/* button span:first-child {
  top: 25%;
  bottom: 25%;
  width: 10%;
  left: 45%;
}

button span:last-child {
  left: 25%;
  right: 25%;
  height: 10%;
  top: 45%;
}

/* Morph the shape when the button is a:activeed over */
/* button:focus span {
  transform: rotate(90deg);
}

button:focus span:last-child {
  left: 50%;
  right: 50%;
}  */