.logo_container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 19px;
  height: 19px;
}

.title {
  font-family: 'Space Grotesk';
  font-weight: 600;
  margin: 0;
  line-height: 1;
  font-size: 24px;
}