.modal {

  position: fixed;
  top: 50%;
  right: 50%;
  /* width: 720px; */
  /* background-color: #1c1c21; */
  transform: translateX(50%) translateY(-50%);
  border-radius: 40px;
  z-index: 5;
  display: flex;
  flex-direction: column;
}

.modal_state_closed {
  display: none;
}

.svvg {
  transform: translate(40px);
  align-self: flex-end;
}
/* .svvg {
  position: absolute;
  top: 60px;
  right: 40px;
  z-index: 1;
} */