.main_container {
  display: flex;
  gap: 8px;
}

.link {
  text-decoration: none;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: -0.6px;
  color:rgb(134, 131, 131)
}