/* @font-face {
  font-family: 'Space Grotesk';
  font-style: medium;
  font-weight: 500;
  src: url("./fonts/space-grotesk/static/SpaceGrotesk-Medium.ttf") format("ttf");
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-dancing-script {
  font-family: "Space Grotesk";
}

:root {
  --swiper-pagination-color: black;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: black;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-vertical-gap: 16px;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
  height: 30px !important;
  border-radius: 4px 4px 4px 4px !important; 
  display: flex !important;
  transition: all 0.4s;
}
