.wrapper {
  height: calc((100vw - 320px)/(1440 - 320) * (500 - 250) + 250px);
  max-width: 1440px;
  
  /* outline: 1px solid red; */
  border-radius: 0 0 30px 30px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0,0,0,0.1);

}

.slide_container {
  padding: 32px 52px 0 52px;
  /* position: relative; */
  height: calc((100vw - 320px)/(1440 - 320) * (500 - 250) + 250px);

}

.slide_image {
  position: absolute;
  height: 100%;
  width: 60%;
  z-index: -1;
  transform: translateX(300px);
  transform: translate(300,-100px);
  object-fit: cover;
}

.slide_image[src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/4bd46820-faf7-4533-b6d9-380a5442a3e1/jr-mercurial-vapor-15-club-little-big-kids-indoor-court-soccer-shoes-hGnpbq.png"]{
  /* width: 70%; */
  transform: translateY(-00px);
  transform: translateX(300px);
  z-index: -2;
}


.title {
  z-index:2;
  max-width: 400px;
  margin: 62px 0 12px;
  margin-top: calc((100vw - 320px)/(1440 - 320) * (62 - 20) + 20px);
  color: #121212;
  text-decoration: none;
  font-family: "Space Grotesk";
  font-size: calc((100vw - 320px)/(1440 - 320) * (40 - 28) + 28px);
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: -0.6px
}

.description {
  z-index:2;
  max-width: 400px;

  text-decoration: none;
  margin: 0 0 12px;
  color: #121212;
  font-family: "Space Grotesk";
  font-size: calc((100vw - 320px)/(1440 - 320) * (22 - 16) + 16px);
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: -0.4px;
}

.link {
  z-index: 1;
  background-color: #000000;
  border: 0;
  color: white;
  font-family: Space Grotesk;
  font-size: calc((100vw - 320px)/(1440 - 320) * (16 - 14) + 14px);
  font-style: normal;
  font-weight: 500;
  line-height: 32px; 
  letter-spacing: -0.4px;
  width: calc(15% + 40px);
  max-height: 52px;
  border-radius: 30px;
  cursor: pointer;
}

.link:hover {
  background-color: #007aff;;
}

@media (max-width:780px) {
  
  .slide_image {
    position: absolute;
    height: 100%;
    width: 60%;
    z-index: -1;
    transform: translateX(200px);
    transform: translate(300,-200px);
    object-fit: cover;
  }

  .slide_image[src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/4bd46820-faf7-4533-b6d9-380a5442a3e1/jr-mercurial-vapor-15-club-little-big-kids-indoor-court-soccer-shoes-hGnpbq.png"]{
    /* width: 70%; */
    transform: translateY(-300px);
    transform: translateX(150px);
    z-index: -2;
  }
    .slide_container {
      padding: 12px 42px 0 12px;
  
    
    }
  }


@media (max-width:480px) {
  
  .slide_image {
    position: absolute;
    height: 100%;
    width: 70%;
    z-index: -1;
    transform: translateX(100px);
    transform: translate(300,-200px);
    object-fit: cover;
  }

  .slide_image[src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco/4bd46820-faf7-4533-b6d9-380a5442a3e1/jr-mercurial-vapor-15-club-little-big-kids-indoor-court-soccer-shoes-hGnpbq.png"]{
    /* width: 70%; */
    transform: translateY(-300px);
    transform: translateX(100px);
  }
  .slide_container {
    padding: 22px 22px 0 22px;

  
  }
}